project_id        = "capstone-506616"
region            = "us-central1"
environment       = "production"
enable_iap        = true
iap_client_id     = "YOUR_CLIENT_ID.apps.googleusercontent.com"
iap_client_secret = "YOUR_CLIENT_SECRET"
iap_accessors     = [
  "user:admin@asadpatel.altostrat.com"
]
